*{
	margin: 0 auto;
}
html{
	width: 100%;
	height: 100%;
}
body{
	min-width: 100%;
	min-height: 100%;
    background-color: #F44336;
	overflow: hidden;
}
div{
	height: 50%;
	margin: 260px auto;
}
#timer{
	color: #ffffff;
	font-size: 50px;
	font-family: 'Satisfy', serif;
	font-weight: bold;
	letter-spacing: 8px;
	text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -3px 20px rgba(255,255,255,0.4);
    text-align: center;
}